@media (max-width: 1024px) {
  .contact-container {
    flex-direction: column-reverse;
  }
  .logo {
    margin-left: 25%;
  }
  .paragrap {
    display: none;
  }
  nav,
  .elements {
    display: none;
  }
  .photo {
    margin-top: 50px;
  }
  h2 {
    padding-left: 10px;
  }
  .send button {
    width: 90%;
    margin-left: 5%;
    font-size: larger;
  }

  /* .mobil-contact {
    display: block;
    color: white;
    padding: 30px 30px;
  }
  h1 {
    display: block;
  } */
  .map {
    margin-top: 50px;
  }
  .paragraph h4 {
    margin-left: 7%;
  }
  .last-paragraph {
    opacity: 0.4;
  }
  .footer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .conect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .mail {
    margin-top: 20px;
  }
  .photos {
    justify-content: center;
    text-align: center;
  }
  .click {
    opacity: 1;
  }
  .click img {
    bottom: 0;
    background: none;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 40%;
  }
}
